--
-- PostgreSQL database dump
--

\restrict eghpVl47xlTJ6n2dbcj5H79GvrO1MiFp2RTXmdoONScz9rGlY2Y0uwi9ZXpbfmG

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients_client (
    "CodeClient" integer NOT NULL,
    "Nom" character varying(100) NOT NULL,
    "Prenom" character varying(100) NOT NULL,
    "Adresse" text NOT NULL,
    "Tel" character varying(20) NOT NULL,
    "Email" character varying(254) NOT NULL,
    "Solde" numeric(10,2) NOT NULL
);


ALTER TABLE public.clients_client OWNER TO postgres;

--
-- Name: clients_client_CodeClient_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clients_client ALTER COLUMN "CodeClient" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."clients_client_CodeClient_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_contient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients_contient (
    id bigint NOT NULL,
    "CodeRapport_id" integer NOT NULL,
    "CodeREC_id" integer NOT NULL
);


ALTER TABLE public.clients_contient OWNER TO postgres;

--
-- Name: clients_contient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clients_contient ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clients_contient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_historique; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients_historique (
    "CodeHist" integer NOT NULL,
    "DateAction" timestamp with time zone NOT NULL,
    "TypeAction" character varying(50) NOT NULL,
    "Description" text NOT NULL,
    "CodeClient_id" integer NOT NULL
);


ALTER TABLE public.clients_historique OWNER TO postgres;

--
-- Name: clients_historique_CodeHist_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clients_historique ALTER COLUMN "CodeHist" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."clients_historique_CodeHist_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_rapport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients_rapport (
    "CodeRapport" integer NOT NULL,
    "MotifR" text NOT NULL,
    "Delais" integer NOT NULL,
    "NbrREC" integer NOT NULL
);


ALTER TABLE public.clients_rapport OWNER TO postgres;

--
-- Name: clients_rapport_CodeRapport_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clients_rapport ALTER COLUMN "CodeRapport" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."clients_rapport_CodeRapport_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_reclamation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients_reclamation (
    "CodeREC" integer NOT NULL,
    "Nature" character varying(100) NOT NULL,
    "Date" date NOT NULL,
    "Etat" character varying(50) NOT NULL,
    "CodeClient_id" integer NOT NULL
);


ALTER TABLE public.clients_reclamation OWNER TO postgres;

--
-- Name: clients_reclamation_CodeREC_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clients_reclamation ALTER COLUMN "CodeREC" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."clients_reclamation_CodeREC_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expedition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expedition (
    numexp integer NOT NULL,
    poids numeric(10,2) NOT NULL,
    volume numeric(10,2) NOT NULL,
    statut character varying(20) NOT NULL,
    code_client_id integer,
    date_creation timestamp with time zone NOT NULL,
    date_modification timestamp with time zone NOT NULL,
    description text,
    montant_estime numeric(10,2),
    tarification_id character varying(10)
);


ALTER TABLE public.expedition OWNER TO postgres;

--
-- Name: expedition_numexp_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expedition ALTER COLUMN numexp ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expedition_numexp_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: incident; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incident (
    code_inc integer NOT NULL,
    type character varying(30) NOT NULL,
    commentaire text NOT NULL,
    piece_jointe character varying(100),
    etat character varying(20) NOT NULL,
    resolution text,
    date_creation timestamp with time zone NOT NULL,
    date_resolution timestamp with time zone,
    numexp_id integer NOT NULL
);


ALTER TABLE public.incident OWNER TO postgres;

--
-- Name: incident_code_inc_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.incident ALTER COLUMN code_inc ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incident_code_inc_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logistique_chauffeur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_chauffeur (
    code_chauffeur character varying(10) NOT NULL,
    nom character varying(100) NOT NULL,
    num_permis character varying(10) NOT NULL,
    categorie_permis character varying(1) NOT NULL,
    statut_dispo boolean NOT NULL
);


ALTER TABLE public.logistique_chauffeur OWNER TO postgres;

--
-- Name: logistique_destination; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_destination (
    code_d character varying(10) NOT NULL,
    ville character varying(100) NOT NULL,
    pays character varying(100) NOT NULL,
    zone_geo character varying(10) NOT NULL
);


ALTER TABLE public.logistique_destination OWNER TO postgres;

--
-- Name: logistique_expedition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_expedition (
    numexp integer NOT NULL,
    poids numeric(10,2) NOT NULL,
    volume numeric(10,2) NOT NULL,
    montant_estime numeric(10,2),
    date_creation timestamp with time zone NOT NULL,
    tarification_id character varying(10)
);


ALTER TABLE public.logistique_expedition OWNER TO postgres;

--
-- Name: logistique_expedition_numexp_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.logistique_expedition ALTER COLUMN numexp ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logistique_expedition_numexp_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logistique_tarification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_tarification (
    code_tarif character varying(10) NOT NULL,
    type_service character varying(20) NOT NULL,
    tarif_base_destination numeric(10,2) NOT NULL,
    tarif_poids numeric(10,2) NOT NULL,
    tarif_volume numeric(10,2) NOT NULL,
    destination_id character varying(10) NOT NULL
);


ALTER TABLE public.logistique_tarification OWNER TO postgres;

--
-- Name: logistique_tournee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_tournee (
    code_t character varying(10) NOT NULL,
    date_tournee date NOT NULL,
    chauffeur_id character varying(10) NOT NULL,
    vehicule_id character varying(6) NOT NULL
);


ALTER TABLE public.logistique_tournee OWNER TO postgres;

--
-- Name: logistique_tournee_expeditions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_tournee_expeditions (
    id bigint NOT NULL,
    tournee_id character varying(10) NOT NULL,
    expedition_id integer NOT NULL
);


ALTER TABLE public.logistique_tournee_expeditions OWNER TO postgres;

--
-- Name: logistique_tournee_expeditions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.logistique_tournee_expeditions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logistique_tournee_expeditions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logistique_utilisateur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_utilisateur (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.logistique_utilisateur OWNER TO postgres;

--
-- Name: logistique_utilisateur_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_utilisateur_groups (
    id bigint NOT NULL,
    utilisateur_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.logistique_utilisateur_groups OWNER TO postgres;

--
-- Name: logistique_utilisateur_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.logistique_utilisateur_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logistique_utilisateur_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logistique_utilisateur_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.logistique_utilisateur ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logistique_utilisateur_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logistique_utilisateur_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_utilisateur_user_permissions (
    id bigint NOT NULL,
    utilisateur_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.logistique_utilisateur_user_permissions OWNER TO postgres;

--
-- Name: logistique_utilisateur_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.logistique_utilisateur_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logistique_utilisateur_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logistique_vehicule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logistique_vehicule (
    matricule character varying(6) NOT NULL,
    type_vehicule character varying(10) NOT NULL,
    capacite_poids double precision NOT NULL,
    capacite_volume double precision NOT NULL,
    etat character varying(50) NOT NULL
);


ALTER TABLE public.logistique_vehicule OWNER TO postgres;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_permission (id, name, content_type_id, codename) FROM stdin;
\.


--
-- Data for Name: clients_client; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients_client ("CodeClient", "Nom", "Prenom", "Adresse", "Tel", "Email", "Solde") FROM stdin;
1	hadjoudj	malik	malikhadjoudj@gmail.com	0552667779	malikhadjoudj3@gmail.com	123333.00
2	ALPHA	malik	03rue ahemed sayeh	0552667779	malikhadjoudj0@gmail.com	122333.00
3	hadjoudj	malik	malikhadjoudj@gmail.com	0552667779	malikhadjoudj9@gmail.com	123333.00
4	ALPHA	malik	03rue ahemed sayeh	0552667779	malikhadjoudj10@gmail.com	122333.00
\.


--
-- Data for Name: clients_contient; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients_contient (id, "CodeRapport_id", "CodeREC_id") FROM stdin;
\.


--
-- Data for Name: clients_historique; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients_historique ("CodeHist", "DateAction", "TypeAction", "Description", "CodeClient_id") FROM stdin;
\.


--
-- Data for Name: clients_rapport; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients_rapport ("CodeRapport", "MotifR", "Delais", "NbrREC") FROM stdin;
\.


--
-- Data for Name: clients_reclamation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients_reclamation ("CodeREC", "Nature", "Date", "Etat", "CodeClient_id") FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expedition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expedition (numexp, poids, volume, statut, code_client_id, date_creation, date_modification, description, montant_estime, tarification_id) FROM stdin;
\.


--
-- Data for Name: incident; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incident (code_inc, type, commentaire, piece_jointe, etat, resolution, date_creation, date_resolution, numexp_id) FROM stdin;
\.


--
-- Data for Name: logistique_chauffeur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_chauffeur (code_chauffeur, nom, num_permis, categorie_permis, statut_dispo) FROM stdin;
\.


--
-- Data for Name: logistique_destination; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_destination (code_d, ville, pays, zone_geo) FROM stdin;
\.


--
-- Data for Name: logistique_expedition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_expedition (numexp, poids, volume, montant_estime, date_creation, tarification_id) FROM stdin;
\.


--
-- Data for Name: logistique_tarification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_tarification (code_tarif, type_service, tarif_base_destination, tarif_poids, tarif_volume, destination_id) FROM stdin;
\.


--
-- Data for Name: logistique_tournee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_tournee (code_t, date_tournee, chauffeur_id, vehicule_id) FROM stdin;
\.


--
-- Data for Name: logistique_tournee_expeditions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_tournee_expeditions (id, tournee_id, expedition_id) FROM stdin;
\.


--
-- Data for Name: logistique_utilisateur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_utilisateur (id, password, last_login, is_superuser, username, first_name, last_name, is_staff, is_active, date_joined, email, role) FROM stdin;
1	pbkdf2_sha256$1200000$7uU6ssnRs2ZNlWRShPk3S6$Fo3Os1pez6hqBMWoTJlGzTWX8U6u9y07bxYQ0flvjjc=	\N	t	admin			t	t	2025-12-30 01:08:30.195116+00	admin@exemple.com	AGENT_LOGISTIQUE
3	pbkdf2_sha256$600000$Y9ktKfrIX9cQbaxUbrsP1I$piMZG/i3lX7bG6XiUlLxkBNR9C/nicQfgCaTLV54a+8=	\N	t	admin1			t	t	2025-12-31 19:28:13.465872+00	admin@exemples.com	AGENT_LOGISTIQUE
\.


--
-- Data for Name: logistique_utilisateur_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_utilisateur_groups (id, utilisateur_id, group_id) FROM stdin;
\.


--
-- Data for Name: logistique_utilisateur_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_utilisateur_user_permissions (id, utilisateur_id, permission_id) FROM stdin;
\.


--
-- Data for Name: logistique_vehicule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logistique_vehicule (matricule, type_vehicule, capacite_poids, capacite_volume, etat) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 1, false);


--
-- Name: clients_client_CodeClient_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."clients_client_CodeClient_seq"', 4, true);


--
-- Name: clients_contient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clients_contient_id_seq', 1, false);


--
-- Name: clients_historique_CodeHist_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."clients_historique_CodeHist_seq"', 1, false);


--
-- Name: clients_rapport_CodeRapport_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."clients_rapport_CodeRapport_seq"', 1, false);


--
-- Name: clients_reclamation_CodeREC_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."clients_reclamation_CodeREC_seq"', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 1, false);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: expedition_numexp_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expedition_numexp_seq', 1, false);


--
-- Name: incident_code_inc_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incident_code_inc_seq', 1, false);


--
-- Name: logistique_expedition_numexp_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logistique_expedition_numexp_seq', 1, false);


--
-- Name: logistique_tournee_expeditions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logistique_tournee_expeditions_id_seq', 1, false);


--
-- Name: logistique_utilisateur_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logistique_utilisateur_groups_id_seq', 1, false);


--
-- Name: logistique_utilisateur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logistique_utilisateur_id_seq', 3, true);


--
-- Name: logistique_utilisateur_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.logistique_utilisateur_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: clients_client clients_client_Email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_client
    ADD CONSTRAINT "clients_client_Email_key" UNIQUE ("Email");


--
-- Name: clients_client clients_client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_client
    ADD CONSTRAINT clients_client_pkey PRIMARY KEY ("CodeClient");


--
-- Name: clients_contient clients_contient_CodeREC_id_CodeRapport_id_ea840a1a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_contient
    ADD CONSTRAINT "clients_contient_CodeREC_id_CodeRapport_id_ea840a1a_uniq" UNIQUE ("CodeREC_id", "CodeRapport_id");


--
-- Name: clients_contient clients_contient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_contient
    ADD CONSTRAINT clients_contient_pkey PRIMARY KEY (id);


--
-- Name: clients_historique clients_historique_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_historique
    ADD CONSTRAINT clients_historique_pkey PRIMARY KEY ("CodeHist");


--
-- Name: clients_rapport clients_rapport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_rapport
    ADD CONSTRAINT clients_rapport_pkey PRIMARY KEY ("CodeRapport");


--
-- Name: clients_reclamation clients_reclamation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_reclamation
    ADD CONSTRAINT clients_reclamation_pkey PRIMARY KEY ("CodeREC");


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: expedition expedition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expedition
    ADD CONSTRAINT expedition_pkey PRIMARY KEY (numexp);


--
-- Name: incident incident_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident
    ADD CONSTRAINT incident_pkey PRIMARY KEY (code_inc);


--
-- Name: logistique_chauffeur logistique_chauffeur_num_permis_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_chauffeur
    ADD CONSTRAINT logistique_chauffeur_num_permis_key UNIQUE (num_permis);


--
-- Name: logistique_chauffeur logistique_chauffeur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_chauffeur
    ADD CONSTRAINT logistique_chauffeur_pkey PRIMARY KEY (code_chauffeur);


--
-- Name: logistique_destination logistique_destination_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_destination
    ADD CONSTRAINT logistique_destination_pkey PRIMARY KEY (code_d);


--
-- Name: logistique_expedition logistique_expedition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_expedition
    ADD CONSTRAINT logistique_expedition_pkey PRIMARY KEY (numexp);


--
-- Name: logistique_tarification logistique_tarification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tarification
    ADD CONSTRAINT logistique_tarification_pkey PRIMARY KEY (code_tarif);


--
-- Name: logistique_tournee_expeditions logistique_tournee_exped_tournee_id_expedition_id_28c0791c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee_expeditions
    ADD CONSTRAINT logistique_tournee_exped_tournee_id_expedition_id_28c0791c_uniq UNIQUE (tournee_id, expedition_id);


--
-- Name: logistique_tournee_expeditions logistique_tournee_expeditions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee_expeditions
    ADD CONSTRAINT logistique_tournee_expeditions_pkey PRIMARY KEY (id);


--
-- Name: logistique_tournee logistique_tournee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee
    ADD CONSTRAINT logistique_tournee_pkey PRIMARY KEY (code_t);


--
-- Name: logistique_utilisateur logistique_utilisateur_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur
    ADD CONSTRAINT logistique_utilisateur_email_key UNIQUE (email);


--
-- Name: logistique_utilisateur_groups logistique_utilisateur_g_utilisateur_id_group_id_ae66c2e4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_groups
    ADD CONSTRAINT logistique_utilisateur_g_utilisateur_id_group_id_ae66c2e4_uniq UNIQUE (utilisateur_id, group_id);


--
-- Name: logistique_utilisateur_groups logistique_utilisateur_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_groups
    ADD CONSTRAINT logistique_utilisateur_groups_pkey PRIMARY KEY (id);


--
-- Name: logistique_utilisateur logistique_utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur
    ADD CONSTRAINT logistique_utilisateur_pkey PRIMARY KEY (id);


--
-- Name: logistique_utilisateur_user_permissions logistique_utilisateur_u_utilisateur_id_permissio_9a51e4d3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_user_permissions
    ADD CONSTRAINT logistique_utilisateur_u_utilisateur_id_permissio_9a51e4d3_uniq UNIQUE (utilisateur_id, permission_id);


--
-- Name: logistique_utilisateur_user_permissions logistique_utilisateur_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_user_permissions
    ADD CONSTRAINT logistique_utilisateur_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: logistique_utilisateur logistique_utilisateur_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur
    ADD CONSTRAINT logistique_utilisateur_username_key UNIQUE (username);


--
-- Name: logistique_vehicule logistique_vehicule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_vehicule
    ADD CONSTRAINT logistique_vehicule_pkey PRIMARY KEY (matricule);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: clients_client_Email_387ce511_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "clients_client_Email_387ce511_like" ON public.clients_client USING btree ("Email" varchar_pattern_ops);


--
-- Name: clients_contient_CodeREC_id_140ce427; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "clients_contient_CodeREC_id_140ce427" ON public.clients_contient USING btree ("CodeREC_id");


--
-- Name: clients_contient_CodeRapport_id_5007dbcb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "clients_contient_CodeRapport_id_5007dbcb" ON public.clients_contient USING btree ("CodeRapport_id");


--
-- Name: clients_historique_CodeClient_id_d6e0822f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "clients_historique_CodeClient_id_d6e0822f" ON public.clients_historique USING btree ("CodeClient_id");


--
-- Name: clients_reclamation_CodeClient_id_f80cb293; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "clients_reclamation_CodeClient_id_f80cb293" ON public.clients_reclamation USING btree ("CodeClient_id");


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: expedition_code_cl_f99eeb_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expedition_code_cl_f99eeb_idx ON public.expedition USING btree (code_client_id);


--
-- Name: expedition_code_client_id_c0d6f61e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expedition_code_client_id_c0d6f61e ON public.expedition USING btree (code_client_id);


--
-- Name: expedition_date_cr_c84285_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expedition_date_cr_c84285_idx ON public.expedition USING btree (date_creation);


--
-- Name: expedition_statut_37e51c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expedition_statut_37e51c_idx ON public.expedition USING btree (statut);


--
-- Name: expedition_tarification_id_2d5fdb29; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expedition_tarification_id_2d5fdb29 ON public.expedition USING btree (tarification_id);


--
-- Name: expedition_tarification_id_2d5fdb29_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expedition_tarification_id_2d5fdb29_like ON public.expedition USING btree (tarification_id varchar_pattern_ops);


--
-- Name: incident_etat_9e38ad_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incident_etat_9e38ad_idx ON public.incident USING btree (etat);


--
-- Name: incident_numexp__f78483_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incident_numexp__f78483_idx ON public.incident USING btree (numexp_id);


--
-- Name: incident_numexp_id_a4c448a3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incident_numexp_id_a4c448a3 ON public.incident USING btree (numexp_id);


--
-- Name: incident_type_2f961b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX incident_type_2f961b_idx ON public.incident USING btree (type);


--
-- Name: logistique_chauffeur_code_chauffeur_dbe64a15_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_chauffeur_code_chauffeur_dbe64a15_like ON public.logistique_chauffeur USING btree (code_chauffeur varchar_pattern_ops);


--
-- Name: logistique_chauffeur_num_permis_8bdada3f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_chauffeur_num_permis_8bdada3f_like ON public.logistique_chauffeur USING btree (num_permis varchar_pattern_ops);


--
-- Name: logistique_destination_code_d_ad108302_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_destination_code_d_ad108302_like ON public.logistique_destination USING btree (code_d varchar_pattern_ops);


--
-- Name: logistique_expedition_tarification_id_18f82019; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_expedition_tarification_id_18f82019 ON public.logistique_expedition USING btree (tarification_id);


--
-- Name: logistique_expedition_tarification_id_18f82019_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_expedition_tarification_id_18f82019_like ON public.logistique_expedition USING btree (tarification_id varchar_pattern_ops);


--
-- Name: logistique_tarification_code_tarif_674b6afb_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tarification_code_tarif_674b6afb_like ON public.logistique_tarification USING btree (code_tarif varchar_pattern_ops);


--
-- Name: logistique_tarification_destination_id_d7a5e486; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tarification_destination_id_d7a5e486 ON public.logistique_tarification USING btree (destination_id);


--
-- Name: logistique_tarification_destination_id_d7a5e486_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tarification_destination_id_d7a5e486_like ON public.logistique_tarification USING btree (destination_id varchar_pattern_ops);


--
-- Name: logistique_tournee_chauffeur_id_71f6643c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_chauffeur_id_71f6643c ON public.logistique_tournee USING btree (chauffeur_id);


--
-- Name: logistique_tournee_chauffeur_id_71f6643c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_chauffeur_id_71f6643c_like ON public.logistique_tournee USING btree (chauffeur_id varchar_pattern_ops);


--
-- Name: logistique_tournee_code_t_8f595a85_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_code_t_8f595a85_like ON public.logistique_tournee USING btree (code_t varchar_pattern_ops);


--
-- Name: logistique_tournee_expeditions_expedition_id_acc3beaf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_expeditions_expedition_id_acc3beaf ON public.logistique_tournee_expeditions USING btree (expedition_id);


--
-- Name: logistique_tournee_expeditions_tournee_id_d2ba2e6f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_expeditions_tournee_id_d2ba2e6f ON public.logistique_tournee_expeditions USING btree (tournee_id);


--
-- Name: logistique_tournee_expeditions_tournee_id_d2ba2e6f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_expeditions_tournee_id_d2ba2e6f_like ON public.logistique_tournee_expeditions USING btree (tournee_id varchar_pattern_ops);


--
-- Name: logistique_tournee_vehicule_id_7e5d32ad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_vehicule_id_7e5d32ad ON public.logistique_tournee USING btree (vehicule_id);


--
-- Name: logistique_tournee_vehicule_id_7e5d32ad_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_tournee_vehicule_id_7e5d32ad_like ON public.logistique_tournee USING btree (vehicule_id varchar_pattern_ops);


--
-- Name: logistique_utilisateur_email_5f6d3e74_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_utilisateur_email_5f6d3e74_like ON public.logistique_utilisateur USING btree (email varchar_pattern_ops);


--
-- Name: logistique_utilisateur_groups_group_id_808a8c60; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_utilisateur_groups_group_id_808a8c60 ON public.logistique_utilisateur_groups USING btree (group_id);


--
-- Name: logistique_utilisateur_groups_utilisateur_id_47ff2d4f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_utilisateur_groups_utilisateur_id_47ff2d4f ON public.logistique_utilisateur_groups USING btree (utilisateur_id);


--
-- Name: logistique_utilisateur_user_permissions_permission_id_9c2b57b5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_utilisateur_user_permissions_permission_id_9c2b57b5 ON public.logistique_utilisateur_user_permissions USING btree (permission_id);


--
-- Name: logistique_utilisateur_user_permissions_utilisateur_id_a4ddfe42; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_utilisateur_user_permissions_utilisateur_id_a4ddfe42 ON public.logistique_utilisateur_user_permissions USING btree (utilisateur_id);


--
-- Name: logistique_utilisateur_username_ac773f4f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_utilisateur_username_ac773f4f_like ON public.logistique_utilisateur USING btree (username varchar_pattern_ops);


--
-- Name: logistique_vehicule_matricule_ea2e7967_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX logistique_vehicule_matricule_ea2e7967_like ON public.logistique_vehicule USING btree (matricule varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clients_contient clients_contient_CodeREC_id_140ce427_fk_clients_r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_contient
    ADD CONSTRAINT "clients_contient_CodeREC_id_140ce427_fk_clients_r" FOREIGN KEY ("CodeREC_id") REFERENCES public.clients_reclamation("CodeREC") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clients_contient clients_contient_CodeRapport_id_5007dbcb_fk_clients_r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_contient
    ADD CONSTRAINT "clients_contient_CodeRapport_id_5007dbcb_fk_clients_r" FOREIGN KEY ("CodeRapport_id") REFERENCES public.clients_rapport("CodeRapport") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clients_historique clients_historique_CodeClient_id_d6e0822f_fk_clients_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_historique
    ADD CONSTRAINT "clients_historique_CodeClient_id_d6e0822f_fk_clients_c" FOREIGN KEY ("CodeClient_id") REFERENCES public.clients_client("CodeClient") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clients_reclamation clients_reclamation_CodeClient_id_f80cb293_fk_clients_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients_reclamation
    ADD CONSTRAINT "clients_reclamation_CodeClient_id_f80cb293_fk_clients_c" FOREIGN KEY ("CodeClient_id") REFERENCES public.clients_client("CodeClient") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_logistique_utilisateur_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_logistique_utilisateur_id FOREIGN KEY (user_id) REFERENCES public.logistique_utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expedition expedition_code_client_id_c0d6f61e_fk_clients_client_CodeClient; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expedition
    ADD CONSTRAINT "expedition_code_client_id_c0d6f61e_fk_clients_client_CodeClient" FOREIGN KEY (code_client_id) REFERENCES public.clients_client("CodeClient") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expedition expedition_tarification_id_2d5fdb29_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expedition
    ADD CONSTRAINT expedition_tarification_id_2d5fdb29_fk_logistiqu FOREIGN KEY (tarification_id) REFERENCES public.logistique_tarification(code_tarif) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incident incident_numexp_id_a4c448a3_fk_expedition_numexp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident
    ADD CONSTRAINT incident_numexp_id_a4c448a3_fk_expedition_numexp FOREIGN KEY (numexp_id) REFERENCES public.expedition(numexp) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_expedition logistique_expeditio_tarification_id_18f82019_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_expedition
    ADD CONSTRAINT logistique_expeditio_tarification_id_18f82019_fk_logistiqu FOREIGN KEY (tarification_id) REFERENCES public.logistique_tarification(code_tarif) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_tarification logistique_tarificat_destination_id_d7a5e486_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tarification
    ADD CONSTRAINT logistique_tarificat_destination_id_d7a5e486_fk_logistiqu FOREIGN KEY (destination_id) REFERENCES public.logistique_destination(code_d) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_tournee logistique_tournee_chauffeur_id_71f6643c_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee
    ADD CONSTRAINT logistique_tournee_chauffeur_id_71f6643c_fk_logistiqu FOREIGN KEY (chauffeur_id) REFERENCES public.logistique_chauffeur(code_chauffeur) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_tournee_expeditions logistique_tournee_e_expedition_id_acc3beaf_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee_expeditions
    ADD CONSTRAINT logistique_tournee_e_expedition_id_acc3beaf_fk_logistiqu FOREIGN KEY (expedition_id) REFERENCES public.logistique_expedition(numexp) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_tournee_expeditions logistique_tournee_e_tournee_id_d2ba2e6f_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee_expeditions
    ADD CONSTRAINT logistique_tournee_e_tournee_id_d2ba2e6f_fk_logistiqu FOREIGN KEY (tournee_id) REFERENCES public.logistique_tournee(code_t) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_tournee logistique_tournee_vehicule_id_7e5d32ad_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_tournee
    ADD CONSTRAINT logistique_tournee_vehicule_id_7e5d32ad_fk_logistiqu FOREIGN KEY (vehicule_id) REFERENCES public.logistique_vehicule(matricule) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_utilisateur_groups logistique_utilisate_group_id_808a8c60_fk_auth_grou; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_groups
    ADD CONSTRAINT logistique_utilisate_group_id_808a8c60_fk_auth_grou FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_utilisateur_user_permissions logistique_utilisate_permission_id_9c2b57b5_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_user_permissions
    ADD CONSTRAINT logistique_utilisate_permission_id_9c2b57b5_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_utilisateur_groups logistique_utilisate_utilisateur_id_47ff2d4f_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_groups
    ADD CONSTRAINT logistique_utilisate_utilisateur_id_47ff2d4f_fk_logistiqu FOREIGN KEY (utilisateur_id) REFERENCES public.logistique_utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logistique_utilisateur_user_permissions logistique_utilisate_utilisateur_id_a4ddfe42_fk_logistiqu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logistique_utilisateur_user_permissions
    ADD CONSTRAINT logistique_utilisate_utilisateur_id_a4ddfe42_fk_logistiqu FOREIGN KEY (utilisateur_id) REFERENCES public.logistique_utilisateur(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict eghpVl47xlTJ6n2dbcj5H79GvrO1MiFp2RTXmdoONScz9rGlY2Y0uwi9ZXpbfmG

